@tailwind base;
@tailwind components;
@tailwind utilities;
@import "leaflet/dist/leaflet.css";


@layer base {
  :root {
    /* Light Mode - Material Design 3 Android Theme */
    --background: 150 50% 97%;
    --foreground: 150 14% 10%;
    --card: 0 0% 100%;
    --card-foreground: 150 14% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 150 14% 10%;
    --primary: 159 100% 21%;
    --primary-foreground: 0 0% 100%;
    --secondary: 48 100% 21%;
    --secondary-foreground: 0 0% 100%;
    --muted: 150 35% 87%;
    --muted-foreground: 150 8% 26%;
    --accent: 151 93% 68%;
    --accent-foreground: 159 100% 8%;
    --destructive: 0 83% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 150 35% 87%;
    --input: 150 35% 87%;
    --ring: 159 100% 21%;
    --radius: 0.5rem;
    --chart-1: 159 100% 21%;
    --chart-2: 48 100% 21%;
    --chart-3: 0 83% 50%;
    --chart-4: 151 93% 68%;
    --chart-5: 48 97% 68%;
    --sidebar-background: 150 50% 97%;
    --sidebar-foreground: 150 14% 10%;
    --sidebar-primary: 159 100% 21%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 151 93% 68%;
    --sidebar-accent-foreground: 159 100% 8%;
    --sidebar-border: 150 35% 87%;
    --sidebar-ring: 159 100% 21%;
  }

  .dark {
    /* Dark Mode - Material Design 3 Android Theme */
    --background: 150 20% 5%;
    --foreground: 150 40% 86%;
    --card: 150 20% 5%;
    --card-foreground: 150 40% 86%;
    --popover: 150 20% 5%;
    --popover-foreground: 150 40% 86%;
    --primary: 151 71% 60%;
    --primary-foreground: 159 100% 11%;
    --secondary: 48 90% 61%;
    --secondary-foreground: 48 100% 11%;
    --muted: 150 24% 76%;
    --muted-foreground: 150 8% 26%;
    --accent: 151 71% 60%;
    --accent-foreground: 159 100% 11%;
    --destructive: 8 100% 73%;
    --destructive-foreground: 0 100% 20%;
    --border: 150 8% 26%;
    --input: 150 8% 26%;
    --ring: 151 71% 60%;
    --chart-1: 151 71% 60%;
    --chart-2: 48 90% 61%;
    --chart-3: 8 100% 73%;
    --chart-4: 159 100% 11%;
    --chart-5: 48 100% 11%;
    --sidebar-background: 150 20% 5%;
    --sidebar-foreground: 150 40% 86%;
    --sidebar-primary: 151 71% 60%;
    --sidebar-primary-foreground: 150 40% 86%;
    --sidebar-accent: 159 100% 11%;
    --sidebar-accent-foreground: 150 40% 86%;
    --sidebar-border: 150 8% 26%;
    --sidebar-ring: 151 71% 60%;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

